:root {
  --base: #ffc600;
}


.navigation {
  float: left;
}

.form-control.mr-sm-2 {
  width: 100%;
}

.text-white.h1 {
  font-family: 'Righteous';
  font-size: 4em;
  margin-left: 54%;
}

.nav-bar {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.background-img {
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  margin-left: 50%;
  position:fixed;
  z-index: -1;
  animation: spin 2s linear infinite;
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}
}


.records-container {
  border-top: solid 50px;
  width: 75vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}


.login-title {
  font-family: 'Righteous';
  font-size: 8.75em;
  margin-left: .25;
}

.login-div {
  font-family: 'Righteous';
  font-size: 2em;
  margin-left: 30px;
}

.piano {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}

.drums {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}

.games {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}

.success-dialog {
  margin-left: 41%;
  margin-top: 15%;
}

.success-content {
  width: 40%;
  padding-bottom: 6%;
}
/* CHECK START */

svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.record-button-css {
  border-color: #554544;
  width: 100%;
  margin-top: auto;
  border-radius: 8px;
  background-color: #554544;
  color: white;
}

.record-button-css:hover {
  border-color: #453534;
  background-color: #453534;
}



/* Cards */

.card-image {
  border-radius: 8px;
}

.flip-card {
  background-color: transparent;
  margin: 8%;
  perspective: 1000px;
  display: flex;
  flex-flow: column nowrap;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: 23vw;
  height: 29vh;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 8px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  width: 23vw;
  height: 43.5vh;
  background-color: var(--base);
  color: black;
  transform: rotateY(180deg);
}