.navigation {
  float: left;
}

.form-control.mr-sm-2 {
  width: 100%;
}

.text-white.h1 {
  font-family: 'Righteous';
  font-size: 4em;
  margin-left: 54%;
}

.nav-bar {
  width: 100%;
  position: fixed;
}

.background-img {
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  margin-left: 50%;
  position:fixed;
  z-index: -1;
  animation: spin 1s linear infinite;
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}
}


.records-container {
  border-top: solid 50px;
  width: 75vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.record-card {
  width: 300px;
  margin: 20px;
  background-color: #f2cc0e;
  box-shadow: 10px 10px 20px 0px #5c5c5c;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 8px;
}

.record-image-css {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.record-title-css {
  background-color: #f2cc0e;
  color: black;
}

.record-artist-css {
  background-color: #f2cc0e;
  color: black;
}

.record-genre-css {
  background-color: #f2cc0e;
  color: black;
}

.record-button-css {
  border-color: #554544;
  width: 100%;
  margin-top: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #554544;
  color: white;
}

.record-button-css:hover {
  border-color: #453534;
  background-color: #453534;
}

.login-title {
  font-family: 'Righteous';
  font-size: 8.75em;
  margin-bottom: .75em;
  margin-left: .25
}

.login-div {
  font-family: 'Righteous';
  font-size: 2em;
  margin-left: 30px;
}
