:root {
  --body-bg: #412c1f;
  --big-text: #ffffff;
  --card: #ffc600;
  --brown-button: #554544;
  --hover-brown-button: #453534;
}

body {
  background-color: var(--body-bg);
  background-image: url("/Users/home/Development/Projects/R-Collector/r-collector_front_end/assests/wood-panels.jpg");
}

.form-control.mr-sm-2 {
  width: 100%;
}

.text-white.h1 {
  font-family: 'Righteous';
  font-size: 4em;
  margin-left: 54%;
}

.background-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 50%;
  position: fixed;
  z-index: -1;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}


.records-container {
  border-top: solid 50px;
  width: 75vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.success-dialog {
  margin-left: 41%;
  margin-top: 15%;
}

.success-content {
  width: 40%;
  padding-bottom: 6%;
}

.logout {
  background-color: #8b0000;
  border-color: #8b0000;
}

.logout:hover {
  background-color: #5f0000;
  border-color: #5f0000;
}

/* CHECK START */

svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

/* Cards */
.record-button {
  top: 100%;
  border-color: var(--brown-button);
  width: 100%;
  border-radius: 8px;
  background-color: var(--brown-button);
  color: white;
}

.record-button:hover {
  border-color: var(--hover-brown-button);
  background-color: var(--hover-brown-button);
}

.card-image {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.flip-card {
  background-color: transparent;
  margin: 8%;
  perspective: 1000px;
  display: flex;
  flex-flow: column nowrap;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: 300px;
  height: 300px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 8px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  width: 300px;
  height: 300px;
  background-color: var(--card);
  color: black;
  transform: rotateY(180deg);
}