.spotify-avatar {
  height: 50px;
  border-radius: 50%;
}

.spotify-user-name {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  max-width: 65%;
  white-space: nowrap;
  font-size: 25%;
}