.spotify-span {
  background-color: #000000;
  padding: 0 13px 0 15px;
  border-radius: 10px;
}

.spotify-avatar {
  height: 50px;
  border-radius: 50%;
}

.spotify-user-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 25%;
}

.web-player {
  position: fixed;
  top: 15%;
  left: 70%;
  border-radius: 5px;
}