:root {
  --body-bg: #412c1f;
  --big-text: #ffffff;
  --card: #ffc600;
  --brown-button: #554544;
  --hover-brown-button: #453534;
}

body {
  background-color: var(--body-bg);
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  /* background-image: url("/Users/home/Development/Projects/R-Collector/r-collector_front_end/assests/wood-panels.jpg"); */
  /* background-image: url("../assests/wood-panels.jpg"); */
}

.form-control.mr-sm-2 {
  width: 100%;
}

.text-white.h1 {
  font-family: 'Righteous';
  font-size: 4em;
  margin-left: 54%;
}

.background-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 50%;
  position: fixed;
  z-index: -1;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

.records-container {
  width: 75vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-top: 56px;
}

.logout {
  background-color: #8b0000;
  border-color: #8b0000;
}

.logout:hover {
  background-color: #5f0000;
  border-color: #5f0000;
}

.spotify-span {
  background-color: #000000;
  padding: 5px;
  border-radius: 10px;
}

.spotify-avatar {
  height: 50px;
  border-radius: 50%;
}

.spotify-user-name {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  max-width: 65%;
  white-space: nowrap;
  font-size: 25%;
}